body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #282c34;
    background-image: url('assets/background.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #61dafb;
}

#gameContainer {
    text-align: center;
    position: relative;
}

canvas {
    width: 800px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #000;
    background: linear-gradient(to bottom, #59bcfe, #2e038a);
}

#start-button {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background-color: #16cbf9;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#start-button:hover {
    background-color: #230461;
}

#progress-bar-container {
    width: 600px;
    height: 10px;
    background-color: #444;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}

#progress-bar {
    width: 100%;
    height: 100%;
    background-color: #444;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#progress-bar-fill {
    width: 0;
    height: 100%;
    background-color: #5d15ec;
    transition: width 0.1s linear;
}

#progress-percentage {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -25px;
    color: #000000;
    font-size: 14px;
}

#game-over {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#game-over-message {
    color: #16cbf9; 
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#you-won {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: none;
    z-index: 1000;
}

#you-won p {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#sigma-gif {
    width: 200px;
    height: auto;
}

.hidden {
    display: none;
}